*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80vw;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
/* COMMONS */
.sfondo-nero{
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.font-size18{
    font-size: 18px;
}
.color-font{
    color: #999999;
}
.radio10px{
    border-radius: 10px;
}
/* FINE COMMONS */
/* intestazione  */
header{
    margin-bottom: 20px;
}
header #logo{
    border-right: 1px solid #ebebeb;
    height: 75px;
    padding-right: 20px;
    margin: 10px 0;
}
header nav{
    height: 70px;
    line-height: 70px;
    text-transform: uppercase;
}
header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
header nav li a{
    text-decoration: none;
    color: #999999;
}
/* fine intestazione  */
/* corpo della pagina  */
main{
    margin-bottom:10px;
}
/* jambotron */
main .container-alto{
    height: 500px;
    margin-bottom: 20px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}
.container-alto .jambotron{
    padding: 50px;
}
.container-alto .box-text{
    width: 600px;
    color: #fcfbfb;
    margin-top: 250px;
}
.container-alto span{
    font-size: 30px;
    line-height: 1.6;
}
/* fine jambotron */

.container-basso .leadership{
    padding: 20px 0;
}
.leadership h1{
    font-size: 40px;
    text-transform: capitalize;
    line-height: 1;
}
.container-basso .text{
    height: calc(80% - 30px);
    margin: 15px 0;
}
/* prendo tutti i figli di text per floattarli    */
.text > *{
    height: 100%;
    float: left;
    line-height: 1.6;
}
.text .img{
    height: 250px;
    border-radius: 10px;
}
.text .img.sinistra{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-position: center;
}
.text .img.centro{
    background-image: url(../img/banner-2.jpg);
    background-size: 120%;
    background-position: center;

}
.text .img.destra{
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    background-position: center;
}
.text aside{
    width: 25%;
}
.text section{
    margin: 0 10px;
    width: calc(50% - 20px);
}
.text::after{
    content: "";
    display: table;
    clear: both;
}
/* fine corpo della pagina */
/* fine pagina  */
footer{
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.cuore{
    color: red;
    font-size: 24px;
}
