*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80vw;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
/* COMMONS */
.sfondo-nero{
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.font-size18{
    font-size: 18px;
}
.color-font{
    color: #999999;
}
.radio10px{
    border-radius: 10px;
}
.allineamento{
    vertical-align: middle;
}
.overflow-auto110{
    height: 110px;
    overflow: auto;
}
.animazione:hover{
    margin: -5px -5px 5px -5px;
    cursor: pointer;
}
.animazione-font:hover{
    font-size: 102%;
}
 /* Hide scrollbar for Chrome, Safari */
 .hidescroll::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Firefox */
  .hidescroll{
    scrollbar-width: none;  /* Firefox */
  } 
/* FINE COMMONS */
/* intestazione  */
header{
    margin-bottom: 20px;
}
header #logo{
    border-right: 1px solid #ebebeb;
    height: 75px;
    padding-right: 20px;
    margin: 10px 0;
}
header nav{
    height: 70px;
    line-height: 70px;
    text-transform: uppercase;
}
header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
header nav li a{
    text-decoration: none;
    color: #999999;
    transition: all 0.3s ease-in-out;
}
/* fine intestazione  */
/* corpo della pagina  */
main{
    margin-bottom:10px;
}
/* jambotron */
main .container-alto{
    height: 500px;
    background-image: url(../img/banner-bonus.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
}
.container-alto .jambotron{
    padding: 50px;
}
.container-alto .box-text{
    width: 600px;
    color: #fcfbfb;
    margin-top: 250px;
}
.container-alto span{
    font-size: 30px;
    line-height: 1.6;
}
/* fine jambotron */
.container-basso{
    padding-top: 20px;
}
.container-basso .leadership{
    padding: 20px 0;
}
.leadership h1{
    font-size: 40px;
    text-transform: capitalize;
    line-height: 1;
}
.container-basso .text{
    height: calc(80% - 30px);
    margin: 50px 0px;
}
/* prendo tutti i figli di text per floattarli    */
.text > *{
    height: 100%;
    float: left;
    line-height: 1.6;
}

.text .img{
    height: 250px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
/* IMG PRIMA RIGA  */
.text .img.sinistra{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-position: center;
}
.text .img.centro{
    background-image: url(../img/img-2.jpg);
    background-size: 120%;
    background-position: center;

}
.text .img.destra{
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    background-position: center;
}
/* FINE IMG PRIMA RIGA  */
/* IMG SECONDA RIGA  */
.text .img.sinistra.riga2{
    background-image: url(../img/img-4.jpg);
}
.text .img.centro.riga2{
    background-image: url(../img/img-5.jpg);
    background-size: cover;
}
.text .img.destra.riga2{
    background-image: url(../img/img-6.jpg);
    background-size: cover;

}
/* FINE IMG SECONDA RIGA  */
.text section{
    width: calc(100% / 3 - 20px);
}
.text section.centrale{
    margin: 0 30px;
}
.text .descrizione{
    padding: 10px;

}
.cointainer-avatar{
    margin-top: 20px;
}
.text .descrizione img{
    border-radius: 50%;
    height: 42px;
    line-height: 24px;
}
.text .descrizione .data{
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #ebebeb;
    line-height: 42px;
    margin-right: 20px;
}
.text .descrizione .cointainer-avatar strong{
    padding: 0 5px 0 2px;
    color: black;
}
.text::after{
    content: "";
    display: table;
    clear: both;
}
/* fine corpo della pagina */
